@{
    ViewBag.Title = "RegexVisualizer";
}
@section scripts{
    <script src="~/Scripts/Regex/RegexFormatter.js"></script>
}
<h2>Shows in red letters matching the Regular Expresion</h2>

Enter value: <textarea id="theInput" cols="100"></textarea>
<br />
Enter regex: <input type="text" id="theRegex" size="200" />

<br />
<input type="button" id="evaluate" value="Evaluate" />
<br />
Show Result:
<div id="theResult" style="border:2px solid black; height:250px">
</div>
