
@section scripts {
    <link href="~/Content/Site.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Menu";
}

<ul>
    <li>
        <a href="@Url.Action("Index","JsUnitTest")" title="">Javascript Unit Tests</a>
    </li>
    <li>
        <a href="@Url.Action("Position","Css")" title="">Css Possitioning</a>
    </li>
    <li>
        <a href="@Url.Action("Flex","Css")" title="">Css Flex Box Model</a>
    </li>
</ul>

