@section scripts{
    <link href="~/Content/flex.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Flex";
}

<h2>Flex</h2>


<div>

    <div id="NoFlexBox">
        50% (+ 12px 10 of padding 2 of border)
    </div>
    
    <br />

    <div id="NoFlexBoxFix">
        50% (box-sizing: border-box)
    </div>

</div>
