@section scripts{
    <link href="~/Content/qunit.css" rel="stylesheet" />
    <script src="~/Scripts/qunit.js"></script>
    <script src="~/Scripts/Gant/gant.js"></script>
    <script src="~/Scripts/Gant/gant.test.js"></script>
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">
    <caption>Gantt Chart</caption>
    <thead>
        <tr>
            <th class="gantt-subheader" colspan="3">Activities</th>
            <th class="gantt-week" colspan="4">Wed Jan 1 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 5 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 12 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 19 2014</th>
            <th class="gantt-week" colspan="6">Sun Jan 26 2014</th>
        </tr>
        <tr>
            <th class="gantt-usercolumn">ID</th>
            <th class="gantt-usercolumn">Task</th>
            <th class="gantt-usercolumn">Duration</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="gantt-usercolumn">1</td>
            <td class="gantt-usercolumn">Modulo Login Kongestor</td>
            <td class="gantt-usercolumn">2 days</td>
            <td class="gantt-cell gantt-active" style="background-color: red;"></td>
            <td class="gantt-cell gantt-active" style="background-color: red;"></td>
            <td class="gantt-cell gantt-active" style="background-color: red;"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
        </tr>
        <tr>
            <td class="gantt-usercolumn">2</td>
            <td class="gantt-usercolumn">Landing Page Kongestor</td>
            <td class="gantt-usercolumn">2 weeks</td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell gantt-active" style="background-color: green;"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
        </tr>
        <tr>
            <td class="gantt-usercolumn">3</td>
            <td class="gantt-usercolumn">Alta usuarios Kongestor</td>
            <td class="gantt-usercolumn">4 days</td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell gantt-active" style="background-color: blue;"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell gantt-active" style="background-color: blue;"></td>
            <td class="gantt-cell gantt-active" style="background-color: blue;"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
        </tr>
        <tr>
            <td class="gantt-usercolumn">4</td>
            <td class="gantt-usercolumn">Autodestruir Kongestor</td>
            <td class="gantt-usercolumn">10 days</td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell gantt-active" style="background-color: gray;"></td>
            <td class="gantt-cell gantt-active" style="background-color: gray;"></td>
            <td class="gantt-cell gantt-active" style="background-color: gray;"></td>
            <td class="gantt-cell gantt-active" style="background-color: gray;"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell"></td>
            <td class="gantt-cell gantt-active" style="background-color: gray;"></td>
            <td class="gantt-cell gantt-active" style="background-color: gray;"></td>
            <td class="gantt-cell gantt-active" style="background-color: gray;"></td>
            <td class="gantt-cell gantt-active" style="background-color: gray;"></td>
            <td class="gantt-cell gantt-active" style="background-color: gray;"></td>
        </tr>
    </tbody>
</table>
