@section scripts{
    <link href="~/Content/qunit.css" rel="stylesheet" />
    <script src="~/Scripts/qunit.js"></script>
    <script src="~/Scripts/Gant/gant.js"></script>
    <script src="~/Scripts/Gant/gant.test.js"></script>
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">
    <caption>Gantt Chart</caption>
    <thead>
        <tr>
            <th class="gantt-subheader" colspan="3">Activities</th>
            <th class="gantt-week" colspan="4">Wed Jan 1 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 5 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 12 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 19 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 26 2014</th>
        </tr>
        <tr>
            <th class="gantt-usercolumn">ID</th>
            <th class="gantt-usercolumn">Task</th>
            <th class="gantt-usercolumn">Duration</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
        </tr>
    </thead>
</table>
