@section scripts{
    <link href="~/Content/qunit.css" rel="stylesheet" />
    <script src="~/Scripts/qunit.js"></script>
    <script src="~/Scripts/Gant/gant.js"></script>
    <script src="~/Scripts/Gant/gant.test.js"></script>
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">
    <caption>Gantt Chart</caption>
    <thead>
        <tr>
            <th class="gantt-subheader" colspan="3">Activities</th>
            <th class="gantt-week" colspan="4">Wed Jan 1 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 5 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 12 2014</th>
            <th class="gantt-week" colspan="7">Sun Jan 19 2014</th>
            <th class="gantt-week" colspan="6">Sun Jan 26 2014</th>
        </tr>
        <tr>
            <th class="gantt-usercolumn">ID</th>
            <th class="gantt-usercolumn">Task</th>
            <th class="gantt-usercolumn">Duration</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">S</th>
            <th class="gantt-day">M</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">W</th>
            <th class="gantt-day">T</th>
            <th class="gantt-day">F</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Modulo Login Kongestor</td>
            <td>2 days</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Landing Page Kongestor</td>
            <td>2 weeks</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Alta usuarios Kongestor</td>
            <td>4 days</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Autodestruir Kongestor</td>
            <td>10 days</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
