@section scripts {
    <link href="~/Content/qunit.css" rel="stylesheet" />
    <script src="~/Scripts/qunit.js"></script>
    <script src="~/Scripts/Gantt/gantt.js"></script>
    <script src="~/Scripts/Gantt/gantt.test.js"></script>
}
@{
    ViewBag.Title = "Test";
}

<h1 id="qunit-header">Gantt's qunit</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">
    test makeup, will be hidden
    <table></table>
</div>

