@section scripts{
    <link href="~/Content/qunit.css" rel="stylesheet" />
    <script src="~/Scripts/qunit.js"></script>
    <script src="~/Scripts/Gant/gant.js"></script>
    <script src="~/Scripts/Gant/gant.test.js"></script>
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
